@CHARSET "UTF-8";
@CHARSET "UTF-8";
#header{
	width: 1346px;
	height: 100px;
	border-bottom: 2px solid grey;
}
#header #i1{
	width: 12%;
	height: 70%;
	margin: 15px auto 20px 180px;
	float: left;
}
#header a{
	font-size: 20px;
	display: inline-block;
	width: 100px;
	height: 30px;
	color: black;
	text-decoration: none;
	border: 1px solid grey;
	float: left;
	margin: 40px auto 20px 700px; 
	border-radius: 15px;
	text-align: center;
	line-height: 30px;
}
#bodys{
	width: 980px;
	height: 400px;
	background-image: url(../img/login2.jpg);
	background-size: 60% 100%;
	background-repeat:no-repeat;
	margin: 10px auto;
}
#forms{
	width: 40%;
	height: 360px;
	margin: 25px 0px 25px 65%;
	 border-top: 2px solid grey; 
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}
#upassword{
	width: 40%;
	height: 360px;
	margin: 25px 0px 25px 65%;
	 border-top: 2px solid grey; 
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}
h2{
	display: inline-block;
	color: grey;
	margin: 20px 0px 0px 20px;
}
#forms a{
	text-decoration: none;
	color: rgb(204, 0, 0);
	margin-left: 150px;
	font-size: 14px;
}
#forms #p1{
	width: 70px;
	height: 35px;
	float: left; 
	margin: 50px 0px 10px 30px;
	line-height: 35px;
	text-align: center;
}
#forms #p2{
	width: 70px;
	height: 35px;
	float: left; 
	margin: 10px 0px 10px 30px;
	line-height: 35px;
	text-align: center;
}
#forms #code{
	width: 230px;
	height: 35px;
	float: left; 	
	margin: 50px 0px 10px 0px;
}
#forms #yanma{
	width: 230px;
	height: 35px;
	float: left; 	
	margin: 10px 0px 10px 0px;
}
#forms #yan{
	width: 100px;
	height: 35px;
	text-align:center;
	font-size:24px;
	float: left; 	
	margin: 10px 0px 10px 30%;
}

#forms #putt{
	width: 85px;
	height: 40px;
	float: left; 	
	margin: 10px 0px 10px 0px;
}

#forms #massage{
	width: 230px;
	height: 25px;
	float: left;
	margin-left: 80px;
	text-align: center;
	color: rgb(204, 0, 0);
}
#forms #button{
	width: 290px;
	height: 35px;
	margin: 10px 0px 0px 30px;
	background-color: rgb(204, 0, 0);
	border-radius: 5px;
	font-size: 20px; 
	color: white;
	border: 1px solid  rgb(204, 0, 0);
}


/*
update password
*/

#upassword a{
	text-decoration: none;
	color: rgb(204, 0, 0);
	margin-left: 150px;
	font-size: 14px;
}
#upassword #p1{
	width: 80px;
	height: 35px;
	float: left; 
	margin: 50px 0px 10px 30px;
	line-height: 35px;
	text-align: center;
}
#upassword #p2{
	width: 80px;
	height: 35px;
	float: left; 
	margin: 10px 0px 10px 30px;
	line-height: 35px;
	text-align: center;
}
#upassword #password{
	width: 230px;
	height: 35px;
	float: left; 	
	margin: 50px 0px 10px 0px;
}
#upassword #repassword{
	width: 230px;
	height: 35px;
	float: left; 	
	margin: 10px 0px 10px 0px;
}




#upassword #massages{
	width: 230px;
	height: 25px;
	float: left;
	margin-left: 80px;
	text-align: center;
	color: rgb(204, 0, 0);
}
#upassword #rebutton{
	width: 290px;
	height: 35px;
	margin: 10px 0px 0px 30px;
	background-color: rgb(204, 0, 0);
	border-radius: 5px;
	font-size: 20px; 
	color: white;
	border: 1px solid  rgb(204, 0, 0);
}

#footer{
	width: 1346px;
	height: 140px;
	font-size: 19px;
	margin-top: 20px;
	text-align: center;
	color: grey;
}
#footer a{
	text-decoration: none;
	color: grey;
	margin: 10px 0px 0px 0px;
}
